* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  color: #fff;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.808);
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  padding: 10px;
  align-items: center;
}

.horario {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-self: flex-end;
  margin-top: 50px;
}

.horario p {
  background-color: black;
  padding: 0 0 0 10px;
  border-radius: 20px;
  border: 2px solid rgb(5, 5, 5);
}

.horario input {
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.95rem;
  text-align: center;
}

.horario button {
  padding: 4px;
  border-radius: 50%;
  max-width: 48px;
  max-height: 48px;
  background: rgb(255, 255, 255);
  color: #fff;
  border: 1px solid;
  font-size: 1rem;
}

.horario button:hover {
  background: rgb(19, 90, 29);
  border: 1px solid rgb(255, 255, 255);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 8px 0;
  padding: 10px;
  color: rgb(26, 26, 26);
  font-weight: 500;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#texto-hora {
  font-size: 1.5rem;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.486);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.39);
}

.imagem {
  display: block;
  border-radius: 50%;
  padding-top: 10px;
  max-width: 250px;
}

.ativo {
  animation: imagens 5s ease-in;
}

@keyframes imagens {
  0% {
    opacity: 0;
    transform: translateZ(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateZ(0px);
  }
}
